<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlexSqlTools.Properties.Settings.RizMokalematConnectionString"
            connectionString="Data Source=.\MSSQL2005;Initial Catalog=DefaultDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FlexSqlTools.Presentation.WindowsFormsApplication.Properties.Settings.DefaultConnectionString"
            connectionString="Data Source=.\MSSQL2005;Initial Catalog=DefaultDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>